body {
    background: #09073d;
    background: linear-gradient(90deg, rgba(9, 7, 61, 1) 0%, rgba(19, 10, 120, 1) 51%, rgba(212, 2, 30, 1) 100%);
    color: white;
    margin: 30px 20px;
    padding: 20px;
}

.title {
    text-align: center;
    font-family: "Truculenta", sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    text-decoration-line: underline;
}

.film {
    padding: 40px 20px;
    border-color: antiquewhite;
    border-width: 20px;
}
h3{
    margin:10px 0;
}
h2{
    margin: 10px 0;
}

.film_sinopsis {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  flex-grow: 1;
}

p {
    height: 400px;
    width: auto;
   flex-grow: 8;
}
  /*width: 450px;
}
